@import "bourbon";

@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('../fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-ExtraLight.otf')  format('opentype'),
	     url('../fonts/Gotham-ExtraLight.woff') format('woff'), url('../fonts/Gotham-ExtraLight.ttf')  format('truetype'), url('../fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

$dark: #515151;
$light: #FFFFFF;
$duration: 250ms;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gotham-ExtraLight';
  -webkit-font-smoothing: antialiased;
  color: $dark;
  height: 100%;
  width: 100%;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  max-width: 300px;
  margin: auto;
  padding: 20px 0 0;

  button {
    padding: 0;

    &:active, &:focus {
      outline: none;
    }
  }
}

.primary-nav-item {
  background: none;
  border: none;
  opacity: .5;
  pointer-events: auto;
  transition-property: opacity;
  transition-duration: $duration*4;
  animation: primary-nav-fade $duration*16;
  @at-root {
    @keyframes primary-nav-fade {
      0%, 25% {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
      }
      50% {
        transform: translate3d(0, 5%, 0);
      }
    }
  }

  &:hover {
    transition-duration: $duration;
    opacity: 1;
  }

  &.is-slid-away {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    pointer-events: none;
    animation: primary-nav-contact $duration*4;
    @at-root {
      @keyframes primary-nav-contact {
        0% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        25% {
          opacity: 1;
          transform: translate3d(0, 5%, 0);
        }
      }
    }
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.logo {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-weight:normal;
  font-size: 36px;
  margin: 0;
  z-index: 2;
  line-height: 1;
  padding-left: 16px;
  position: relative;
  bottom: 40px;

  animation: title-fade $duration*8;
  @at-root {
    @keyframes title-fade {
      0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    }
  }

  @media screen and (max-width: 600px) {
    letter-spacing: 14px;
    font-size: 24px;
  }

  @media screen and (max-width: 375px) {
    letter-spacing: 10px;
    font-size: 18px;
  }
}

.pixel-flower {
  pointer-events: none;
  @include position(absolute, null 0px 0px 0px);
  position: absolute;
  overflow: hidden;
  height: 500px;
  z-index: 1;
}

.pixel-flower-petal {
  @include size(1000px);
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: $dark;
  opacity: .1;
  transform-origin: 50%;
  backface-visibility: hidden;

  animation: blossom $duration*8;
  @at-root {
    @keyframes blossom {
      0% {
        opacity: 0;
        transform: translate3d(-50%, 25%, 0) rotate(45deg);
      }
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    opacity: .05;
  }

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: translate3d(-50%, 0, 0) rotate($i * 10deg);
    }
  }
}

.portfolio {
  background: $dark;
  height: 400px;
}

.contact {
  @include position(absolute, 0px null null 0px);
  @include size(100%);
  background: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: contact-show $duration*2;
  display: none;
  @at-root {
    @keyframes contact-show {
      0% {
        opacity: 0;
      }
    }
  }

  &.is-visible {
    display: flex;
  }
}

#contact-form {
  width: 96%;
  max-width: 600px;
  margin: auto;
  border: 1px solid rgba(#515151, .1);
  padding: 12px;
  position: relative;
  bottom: 40px;

  div {
    position: relative;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
  }

  input, textarea {
    padding: 12px;
    border: 1px solid rgba(#515151, .1);
    border-radius: 2px;
    width: 100% !important;
  }
}
