@import "bourbon";

@font-face {
  font-family: 'Gotham-ExtraLight';
  src: url('../fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-ExtraLight.otf')  format('opentype'),
	     url('../fonts/Gotham-ExtraLight.woff') format('woff'), url('../fonts/Gotham-ExtraLight.ttf')  format('truetype'), url('../fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

$dark: #515151;

body {
  font-family: 'Gotham-ExtraLight';
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

.primary-nav {
  width: 100%;
  display: table;
  border-spacing: 50px;
}

.primary-nav-item {
  display: table-cell;
  text-align: center;
}

.logo {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate3d(0%, -50%, 0);
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 36px;
  margin: 0;
  z-index: 2;
  line-height: 1;

  animation: title-fade 2s;
  @at-root {
    @keyframes title-fade {
      0% {
        opacity: 0;
        transform: translate3d(0%, -100%, 0);
      }
    }
  }
}

.pixel-flower {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  overflow: hidden;
  z-index: 1;
}

.pixel-flower-petal {
  @include size(1000px);
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: $dark;
  opacity: .1;
  transform-origin: 50%;
  backface-visibility: hidden;

  animation: blossom 2s;
  @at-root {
    @keyframes blossom {
      0% {
        opacity: 0;
        transform: translate3d(-50%, 25%, 0) rotate(45deg);
      }
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    opacity: .05;
  }

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: translate3d(-50%, 0, 0) rotate($i * 10deg);
    }
  }
}
