doctype html
html(lang="en")
  head
    title PixelJanitor
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type="text/javascript" src="javascript/scripts.js")
    link(rel="stylesheet" type="text/css" href="stylesheets/styles.css")
  
  body
    nav.primary-nav
      a.primary-nav-item(href="http://dribbble.com/pixeljanitor")
        img(src="images/dribbble.svg")
      a.primary-nav-item(href="http://github.com/pixeljanitor")
        img(src="images/github.svg")
    h1.logo PIXELJANITOR
    .pixel-flower
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
      .pixel-flower-petal
